<% provide(:title, "Index user") %>
<h1>Update your profile</h1>

<body>
  <p>
  </p>
  <table class="info">
    <% @users.each do |user| %>
        <tr><td><%= user.name %> </td>
        <td><%= user.login_id %> </td>
        <td><a href="/users/<%= user.id%>/edit">"編集"</a>
        <td>  <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "You sure?" } if !user.admin? %></td></tr>
    <% end %>
  </table>
</body>
