<h2>ユーザのデータをファイルからインポートする</h2>

<div>
  <%= form_for(:broadcast, url:broadcast_mail_entry_path, method: :post, multipart:true) do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Import" %>
  <% end %>
</div>



<%= link_to "ログイン画面に戻る", root_path,method: :get, class: "btn btn-lg btn-primary" %>
