<h1>メール全件一覧</h1>
<p>
  <tr>
<%@broadcast.each do |broadcast|%>
  <td>送信者:<%=session[:email]%></td><br>
  <td>受信者:<%=broadcast["email"]%></td><br>
  <td>件名:<%=broadcast["subject"]%></td><br>
  <td>本文:<%=safe_join(broadcast["body"].split("\n"),tag(:br))%></td><br>
<br><br>--------------------------------------------------<br><br>
<%end%>

  </tr>


</p>
