<%download%>
<h1>Broadcast#preview_all</h1>
<p>
  <tr>
　<#%= will_paginate @broadcast, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<%@broadcast.each do |broadcast|%>
  <td>送信者:<%=session[:email]%></td><br>
  <td>受信者:<%=broadcast["email"]%></td><br>
  <td>件名:<%=broadcast["subject"]%></td><br>
  <td>本文:<%=safe_join(broadcast["body"].split("\n"),tag(:br))%></td><br>
<br><br>--------------------------------------------------<br><br>
<%end%>

  </tr>


</p>
